/* General */

.container {
    display: flex;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

/* Left content */

.left-content {
    height: 100vh;
    width: 35vw;
}

.bg-img {
    height: 100%;
    width: 100%;
    background-image: url(./images/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo-container {
    width: 100%;
    height: 20%;
    background-color: rgba(0, 0, 0, 0.504);
    margin-bottom: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 20%;
}

h1 {
    font-family: 'Norse', sans-serif;
    color: white;
    font-size: 70px;
}

/* Right side content */
/* Top section */

.right-content {
    height: 100vh;
    width: 65vw;
    background-color: rgb(240, 243, 247);
}

.right-content-top-panel {
    padding: 80px;
}

.right-content-top-panel p {
    font-weight: 600;
    font-size: 18px;
    text-align: left;
    line-height: 23px;
}

.right-content-top-panel span {
    font-style: italic;
}

/* Form section */

.right-content-form-container {
    height: 30%;
    background-color: white;
    box-shadow: 0 4px 5px -5px gray;
}

/* Bottom section */

div > button {
    background-color: #596D48;
    color: white;
    font-weight: bold;
    padding: 12px 40px;
    border-radius: 5px;
    margin: 30px;
}

div > p {
    margin-left: 30px;
}

.log-in-btn {
    text-decoration: none;
    color: #596D48;
}